body {
  margin: 60px;
}

nav {
  background-color: #bbb;
  padding: 10px;
}

label {
  padding: 10px;
}

button {
  background-color: #000;
  color: #fff;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}

.main-header {
  text-align: center;
}