// ========================= LAYOUT ========================= //

nav {
    li {
        display: inline-block;
        margin: 1em;
        font-size: 1.2em;
    }
}

.gallery-image {
    height: 200px;
    width: auto;
    border: solid 1px $primary-color;
    margin: 0.5em;
}