.landing-container {
  text-align: center;

  h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: $primary;
    font-size: 3em;
  }

  h4 {
    font-size: 2em;
    color: $secondary;
    margin-bottom: 1em;
  }
}
